# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  workflow_dispatch:
    inputs:
      qase_api_base_url:
        description: 'Qase API URL'
        required: true
      qase_report:
        description: 'Enabled/disabled reporting to Qase'
        required: true
      qase_project_code:
        description: 'Qase project code'
        required: true
      qase_run_id:
        description: 'Qase Run ID'
        required: true
      qase_run_complete:
        description: 'Complete Qase Run'
        required: true

env:
  QASE_API_BASE_URL: ${{ inputs.qase_api_base_url }}
  QASE_REPORT: ${{ inputs.qase_report }}
  QASE_PROJECT_CODE: ${{ inputs.qase_project_code }}
  QASE_RUN_ID: ${{ inputs.qase_run_id }}
  QASE_RUN_COMPLETE: ${{ inputs.qase_run_complete }}
  QASE_API_TOKEN: ${{ secrets.QASE_API_TOKEN }}
    

jobs:

  build:

    runs-on: macos-latest
    steps:
    - uses: qase-tms/qase-link-run@main
      env: 
       QASE_API_TOKEN: ${{ env.QASE_API_TOKEN }}
    - name: setup appium
      run: |
        npm install -g appium@v1.15.1
        appium -v
        appium &>/dev/null &
      


    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: setup java
    - uses: actions/setup-java@v3
      with:
         distribution: 'temurin'
         java-version: '11'
    - name: run appium android tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
          api-level: 29
          script: ./gradlew connectedCheck
    - name: Test
      run: dotnet test -v n
